# Security
ENCRYPTION_KEY=your_base64_encryption_key_here
SECRET_KEY=your_jwt_secret_key_here

# Database (MongoDB Atlas)
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/datafly
MONGO_DB_NAME=datafly

# External Services
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_specific_password
